body {
    background-color: lightblue;
  }

.container {
    margin: auto;
    width: 75%;
    padding: 10px;
  }

h2{
    font-size: 64px;
}

.card {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}